/*/////////////////////////////////////////////////*/
/*reset code*/
/*/////////////////////////////////////////////////*/
*{margin:0; padding:0; box-sizing: border-box; word-break: keep-all;}
header{width: 100%; animation: AnimationName 4s ease infinite; background: linear-gradient(-45deg, #f7a194, #99d4f4, #a6d5a7, #fee795); background-size: 400% 400%;
}
body{font-family:'Cafe24SsurroundAir'; color:rgb(57,63,72); scroll-behavior: smooth;}
footer{background-color: #FFF; text-align: center; padding:35px 0;}
h1{font-size: 72px; font-weight: bold;}
h2{font-size: 50px; text-align: center; font-weight: bold; padding: 64px 0;}
h3{ font-size: 30px; font-weight: bold;}
h4{ font-size: 20px; font-weight: bold;}
ul li{list-style: none;}
li {display: list-item;}
nav ul a {font-size: 15px;}
a{ text-decoration: none; text-align: center; color: rgb(48,58,72); font-weight: bold;}
@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('../font/Cafe24SsurroundAir.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}
a:hover,a:active,a:visited{ color: rgb(57,63,72);}
/*/////////////////////////////////////////////////
                      _             __  _           
   ____  ____ __   __(_)___ _____ _/ /_(_)___  ____ 
  / __ \/ __ `/ | / / / __ `/ __ `/ __/ / __ \/ __ \
 / / / / /_/ /| |/ / / /_/ / /_/ / /_/ / /_/ / / / /
/_/ /_/\__,_/ |___/_/\__, /\__,_/\__/_/\____/_/ /_/ 

////////////////////////////////////////////////*/

.wrap{height: 100%;}
nav{position: relative; top:25px;}
.headline{display: block;}
.icon{position: fixed;
    top:25px; left:36px;
    width: 70px; height: 70px;
    z-index: 10;
}
.icon h2{
    padding:8px 0 0 0; margin: 0;
}
.iconbox_1{
    position: fixed;
    top:25px; left:36px;
    width: 70px; height: 70px;
    z-index: 11;
    border: solid 1px rgb(57,63,72);
    animation: icon_rotate 4s linear infinite;
}
.iconbox_2{
    position: fixed;
    top:25px; left:36px;
    width: 70px; height: 70px;
    z-index: 11;
    border: solid 1px rgb(57,63,72);
    animation: icon_rotate_2 9s linear infinite;
}
.menuBtn{
    position: fixed; 
    top: 25px;
    right: 24px;
    width: 41px;
    height: 41px;
    z-index: 10;
    cursor: pointer;
}
.menuBtn span{ position: absolute; width: 70%; height: 4px;  background-color:rgb(57,63,72); left: 50%; margin-left: -35%; border-radius: 4px; overflow: hidden;}
.menuBtn span:nth-child(1){top:7px;}
.menuBtn span:nth-child(2){top:17px;}
.menuBtn span:nth-child(3){top:28px;}
.menuBtn span:nth-child(4){top:17px;}
@keyframes menuOpen_1{
  0%{opacity: 0;}
  100%{opacity: 0;}
}
@keyframes menuOpen_2{
  100%{background-color:white; transform: rotate(405deg);}
}
@keyframes menuOpen_3{
  0%{opacity: 0;}
  100%{opacity: 0;}
}
@keyframes menuOpen_4{
  100%{background-color: white; transform: rotate(315deg);}
}

@keyframes menuClose_1{
  0%{opacity: 0; left: 100%;}
  100%{opacity: 1; left: 50%;}
}
@keyframes menuClose_2{
  0%{background-color:white; transform: rotate(405deg);}
  100%{background-color:rgb(57,63,72); transform: rotate(0);}
}
@keyframes menuClose_3{
  0%{opacity: 0; left: 100%;}
  100%{opacity: 1; left:50%}
}
@keyframes menuClose_4{
  0%{background-color: white; transform: rotate(315deg);}
  100%{background-color:rgb(57,63,72); transform: rotate(0);}
}

.headline ul{
    position: fixed;
    background: linear-gradient(to right, rgb(57,63,72), rgb(48,58,72));
    border-radius:25px;
    opacity: 0;
    padding: 12px 50px 12px 20px;
    right: -10px;
    z-index: 8;
    display: flex;
}
.headline li{
    margin: 0 15px;
    display: none;
    position: relative;
}
.headline li a{
    color:#FFF;
    position: relative;
    transition: all 0.2s;
}
nav li:hover a::after{
  width: 105%;
}
nav li a::after{
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0%;
  height: 4px;
  background-color: rgba(255,255,255,.3);
  transform: skew(-20deg);
  transition: 0.4s;
  z-index: -1;
}

/*//////*/
/*section main*/
.main{
    height: 100%; text-align: center;
    opacity: 0.9;
}
.main::before{
    content: ""; display: inline-block; width: 1px; height: 70%; margin-right: 0; vertical-align: center;
}
.main_wrap{
    display: inline-block;
    position: relative;
}
@keyframes preloader { 50% { transform: rotate(360deg); } }
@keyframes preloader1 { 100% { transform: rotate(360deg); } }
.loader{
    animation: preloader 3s infinite ease-in-out;
}
.loader1{
    animation: preloader 6s infinite ease-in-out;
}
.loader2{
    animation: preloader 8s infinite ease-in-out;
}
.loader3{
    animation: preloader1 1.5s infinite forwards;
}
.circle article:nth-of-type(1){
    position: absolute;
    left:  calc(50% - 264px); bottom: calc(50% - 264px);
    width: 528px; height: 528px;
    border-radius: 50%;
    border: 2px solid rgb(0,0,0,0);
    border-top: rgb(57,63,72) solid 2px;
    border-left: rgb(57,63,72) solid 2px;
    z-index: -1;
}
.circle article:nth-of-type(2){
    position: absolute;
    left:  calc(50% - 260px); top: calc(50% - 260px);
    width: 520px; height: 520px;
    border-radius: 50%;
    border: 2px solid rgb(0,0,0,0);
    border-left: white solid 2px;
    border-bottom: white solid 2px;
    z-index: -1;
}
.circle article:nth-of-type(3){
    position: absolute;
    left:  calc(50% - 256px); top: calc(50% - 256px);
    width: 512px; height: 512px;
    border-radius: 50%;
    border: 2px solid rgb(0,0,0,0);
    border-top: rgb(57,63,72) solid 2px;
    border-right: rgb(57,63,72) solid 2px;
    z-index: -1;
}
/* .circle article:nth-of-type(4){
    position: absolute;
    left: calc(50% - 252px); top: calc(50% - 252px);
    width: 504px; height: 504px;
    border-radius: 50%;
    border: 2px solid rgb(0,0,0,0);
    border-left: rgb(57,63,72) solid 2px;
    border-bottom: rgb(57,63,72) solid 2px;
} */
.circle article:nth-of-type(5){
    position: absolute;
    left: calc(50% - 260px); top: calc(50% - 260px);
    width: 520px; height: 520px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.16);
    z-index: -1;
}
.main_wrap h2{
    padding:0;
}
.main_wrap_img{
    display: flex;
}
.main_wrap_img li{
    width: 25%;
}
.main_wrap_img a{
    position: relative;
}
.main_wrap_img h4{
    content: "";
    position: absolute;
    top: 14px; 
    height: 0; width: 0;
    background-color: rgb(48,58,72);
    color: rgb(230,230,230);
    opacity: 0;
    transition: all .4s;
    font-weight: normal;
    padding: 8px 0 0 0;
    overflow: hidden;
}
.main_wrap_img li:nth-of-type(1) h4{
    left: 0;
}
.main_wrap_img li:nth-of-type(2) h4{
    left: -30px;
}
.main_wrap_img li:nth-of-type(3) h4{
    right: -30px;
}
.main_wrap_img li:nth-of-type(4) h4{
    right: 0;
}
.main_wrap_img li:hover img{
    -webkit-filter:opacity(0.5);
}
.main_wrap_img li:hover h4{
    width: 300px;
    height: 120px;
    opacity: 1;
}
.main_wrap_img img{
    width: 80px;
    margin: 22px 22px 0 22px;
    transition: all .4s;
}

.info li{
    position: absolute;
    width: 530px; height: 530px;
    transform:translateX(-50%) translateY(-50%);
    top: 50%; left: 50%; right: 0;
    background-color: #303a48;
    color: #FFF;
    opacity: 0;
    z-index: -10;
    border-radius: 5px;
}
.info h4{
    margin: 0 auto;
    padding: 0 100px;
    align-items: center;
    justify-content: center;
    transform: translateY(50%);
}
/*/////////////*/

/*section about*/
.about{ 
    background-color: rgb(255,255,255); 
    padding-bottom: 36px;
    overflow: hidden;
}
.about_flex{
    position: relative;
    display: flex;
}
.about_left{ width: 50%; margin:0 24px 0 30px;}
.about_left img{ width: 100%;}
.about_right{ 
    width: 50%; 
    margin-right: 30px;
}
#abouth2 h2{
    position: relative;
}
#abouth2 h2 span{
    position: absolute;
    left: 50%;
    bottom: 74px;
    margin-left: -105px;
    width: 210px;
    height: 10px;
    background-color: #bcbcbc;
    z-index: -1;
}
.about_right h4{
    padding-left: 35px;
    line-height: 1.2;
}
.scale-up-hor-left {
	-webkit-animation: scale-up-hor-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.8s both;
	        animation: scale-up-hor-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.8s both;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-4-13 16:57:46
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-hor-left
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0) skew(-20deg);
            transform: scaleX(0) skew(-20deg);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1) skew(-20deg);
            transform: scaleX(1) skew(-20deg);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
}
@keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0) skew(-20deg);
            transform: scaleX(0) skew(-20deg);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1) skew(-20deg);
            transform: scaleX(1) skew(-20deg);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
}


/*/////////////*/
/*section project*/
.project{ background-color:#f4f4f4; overflow: hidden; padding: 0 0 60px 0;}
#projecth2 h2{
  position: relative;
}
#projecth2 h2 span{
  position: absolute;
  left: 50%;
  bottom: 74px;
  margin-left: -135px;
  width: 265px;
  height: 10px;
  background-color: #bcbcbc;
  z-index: -1;
}
.project_tap{
    width: 100%;
    height: 90px;
}
.project_tap ul{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.project_tap li{
    margin: 0 15px;
    background-color: rgba(255,255,255,0.6);
}
.project_tap li a{
    display: block;
    position: relative;
    padding: 10px 20px;
    overflow: hidden;
    font-weight: bold;
    transition: .4s;
    z-index: 2;
    border: 1px solid rgba(57,63,72,0.3);
    border-radius: 5px;
}
.project_tap li:hover a{
    background-color: #303a48;
    color: #FFF;
}
.project_tap h4{
    font-size: 12px;
}
.project_tap h5{
    font-size: 8px;
}

.project_list{
    margin: 0 30px;
    position: relative;
}
.project_list ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1440px;
    align-items: center;
}
.project_list span{
    position: relative;
}
.project_list li{
  margin: 0 0 12px 0;
}
.project_list span img{
    width: 300px; max-height: 200.750px;
}
.project_list p{
  margin: 30px 0;
  text-align: center;
}
.project_list img{
  transition: .4s;
}
.project_list li a:hover img{
  transform: scale(1.1);
}

.projectOff{
    position: absolute;
    width: 41px; height: 41px;
    right: 12px; top: 18px;
    cursor: pointer;
}
.projectOff span{
    position: absolute; width: 70%; height: 4px;  background-color:#FFF;
    left: 50%; margin-left: -35%; border-radius: 4px; 
    top:50%;
    overflow: hidden;
    transition: all .3s;
}
.projectOff span:nth-of-type(1){
    transform: rotate(45deg);
}
.projectOff span:nth-of-type(2){
    transform: rotate(-45deg);
}
.projectOff:hover span:nth-of-type(1){
   transform: rotate(225deg);
}.projectOff:hover span:nth-of-type(2){
   transform: rotate(135deg);
}
.projectplus dt{
    position: absolute;
    width: 85%; height: 572px;
    left: 50%; top: 0; transform: translateX(-50%);
    margin:0;
    background-color: #303a48;
    border-radius: 5px;
    color: #FFF;
    z-index: -10;
    opacity: 0;
    display: flex;
}
.projectplus dt div{
    width: 50%; height: 98%;
}
.projectplus dt div:nth-of-type(2){
    margin: 0 0 0 150px;
}
.projectplus dt img{
  width: 100%; height: 100%;
}
.imgline{
    position: absolute; width: 2px; height: 96%;
    background-color: #FFF;
    top:2%; left: 5%; transform: translateX(-50%);
}
.projectplus h2{
    padding:0; margin:0; text-align: start;
    font-size: 56px;
    padding-bottom: 16px;
    font-weight: normal;
}

.projectplus h2 a{
  color:#FFF;
  position: relative;
  transition: all 0.2s;
}
.projectplus h2 a::after{
content: "";
position: absolute;
bottom: 6px;
left: 0;
width: 100%;
height: 12px;
background-color: rgba(255,255,255,.25);
transform: skew(-20deg);
z-index: -1;
}




.projectplus h3{
    padding:0; margin:0; text-align: start;
    font-size: 20px; line-height: 1.4;
    font-weight: normal;
}
.projectplus h4{
    padding:36px 0 48px 0; margin:0; text-align: start;
    font-size: 18px;
}
.projectplus .btn_view{ display: flex;}
.projectplus button{
    width: 170px; height: 48px;
    background-color: #303a48; color: #FFF;
    border: solid 2px #fff;
    border-radius: 2px; margin:6px 10px 0 0;
    font-family: 'Cafe24SsurroundAir';
    src: url('../font/Cafe24SsurroundAir.ttf') format('woff');
    transition: all .4s;
    font-size: 14px;
    cursor: pointer;
}
.projectplus button:hover{
    background-color: #FFF; color: #303a48;
}
/*/////////////*/





/*contact*/
#contact{background-image: url(../img/bg_contact.jpg);
      background-size: cover;
      background-attachment: fixed;
      height: 100%; 
}
#contacth2 h2{
  position: relative;
  color: #FFF;
}
#contacth2 h2 span{
  position: absolute;
  left: 50%;
  bottom: 74px;
  margin-left: -135px;
  width: 265px;
  height: 10px;
  background-color: #fee795;
  z-index: -1;
}
.contactme_wrap{
    position: relative;
}
.contactme{
    position: absolute;
    left: 50%; top:0; transform: translateX(-50%);
    width: 600px; height: 500px;
    background-color: rgba(250,250,250,0.7);
    border-radius: 5px;
}
.contactme h2{
    padding: 64px 0 6px 0;
    font-weight: normal;
}
.contactme h3{
    font-size: 26px;
    text-align: center;align-items: center;
}
.contactme h4{
    text-align: center;
    line-height: 1.6;
}
.contactme img{
    width: 26px; height: 26px; 
    float: left;
}
.contactme a{
    float: left;
    position: relative;
}
.contactme div:hover a::after{
    width: 100%;
}
.contactme a::after{
    content: "";
    position: absolute;
    left: 0; bottom: 8px;
    width: 0%; height: 22px;
    background-color: #AEd4f4;
    transform: skew(-20deg);
    transition: 0.3s;
    z-index: -1;
}

.topa{ width: 68px; height: 68px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 900;
    display: none;
}
.topa a {
    display: flex;
    flex-direction: column;
    padding: 25px 0;
    background-color: rgb(48,58,72);
    color: rgb(255,255,255);
    border-radius: 50%;
    transition: all .4s;
    position: relative;
}
.topa span{
  position: absolute;
  width: 18px; height: 18px;
  border-top: 3px solid #303a48;
  border-right: 3px solid #303a48;
  transform: rotate(-45deg);
}
.topa:hover a{
    background-color: #99d4f4;
}
.topa:hover span{
    border-top: 3px solid #99d4f4;
    border-right: 3px solid #99d4f4;
}

.topa span:nth-of-type(1){
    left: 24px; top: -14px;
    animation: topani_1 1.4s infinite;
}
.topa span:nth-of-type(2){
    left: 24px; top: -22px;
    animation:  topani_2 1.4s infinite;
}
@keyframes topani_1{
    0%{ top:-14px;}
    50%{ top: -9px;}
    100%{ top: -14px}
}
@keyframes topani_2{
  0%{ top:-22px;}
  50%{ top: -16px;}
  100%{ top: -22px;}
}


/*'f7a194', '9caad7', '99d4f4', 'a6d5a7', 'fee795'*/@keyframes icon_rotate{
	0%{ transform: rotate(0);}
	100%{ transform: rotate(360deg);}
}
@keyframes icon_rotate_2{
	0%{ transform: rotate(0);}
	100%{ transform: rotate(-360deg);}
}


@keyframes AnimationName { 
    0%{background-position:0% 50%} 
    50%{background-position:50% 100%} 
    100%{background-position:0% 50%} 
}


.tracking-in-expand-fwd-bottom {
	-webkit-animation: tracking-in-expand-fwd-bottom 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.2s both;
	        animation: tracking-in-expand-fwd-bottom 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.2s both;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-4-13 15:47:45
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand-fwd-bottom
 * ----------------------------------------
 */
 
 @-webkit-keyframes tracking-in-expand-fwd-bottom {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(100px);
            transform: translateZ(-700px) translateY(100px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd-bottom {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(100px);
            transform: translateZ(-700px) translateY(100px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}




  .slide-left {
	-webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;
	        animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-4-7 19:15:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
              opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
              opacity: 1;
    }
  }
  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
              opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
              opacity: 1;
    }
  }
  .slide-right {
	-webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;
	        animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-4-7 19:17:44
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
 @-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
              opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
              opacity: 1;
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
              opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
              opacity: 1;
    }
  }
  
  .slide-top {
	-webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.6s both;
	        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.6s both;
}
.slide-top-2 {
	-webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.8s both;
	        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.8s both;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-4-7 19:19:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
              opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0); 
              transform: translateY(0);
              opacity: 1;
    }
  }
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
              opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
              opacity: 1;
    }
  }