
/*반응형 */
@media screen and (max-width: 1280px){
    .imgline{
        display: none;
    }
    .projectplus dt img{
        width: 100%;
    }
}
@media screen and (max-width: 1024px){
    .projectplus dt{
        height: 98%;
        flex-wrap: wrap-reverse;
    }
    .projectplus dt div{
        height: 49%; width: 100%;
        margin: 4px;
    }
    .projectplus dt div:nth-of-type(2){
        margin: 0 0 0 10%;
    }
    .projectplus dt img{
        width: 500px;
    }
}
@media screen and (max-width: 768px){

    footer{
        padding: 12px 0;
    }

    .icon{
        top: 18px; left: 27px;
        width: 36px; height: 36px;
    }
    .icon h2{
        font-size: 1.2rem;
    }
    .iconbox_1{
        width: 36px; height: 36px;
        top: 18px; left: 27px;
    }
    .iconbox_2{
        width: 36px; height: 36px;
        top: 18px; left: 27px;
    }




    .menuBtn{
        top:18px; right: 27px;
        width: 36px; height: 36px;
    }
    .headline ul{
        top:18px;
        padding: 10px 36px 10px 20px;
    }
    .headline li{
        margin: 0 6px;
    }
    .headline li a{
        font-size: 0.8rem;
    }




    .main{
        overflow: hidden;
    }
    .main_wrap h2{
        font-size: 24px;
    }
    .main_wrap_img img{
        width: 64px;
        margin: 8px 8px 0 8px;
    }
    .circle article:nth-of-type(1){
        width: 364px; height: 364px;
        left: calc(50% - 182px);
        top: calc(50% - 182px);
    }
    .circle article:nth-of-type(2){
        width: 360px; height: 360px;
        left: calc(50% - 180px);
        top: calc(50% - 180px);
    }
    .circle article:nth-of-type(3){
        width: 356px; height: 356px;
        left: calc(50% - 178px);
        top: calc(50% - 178px);
    }
    .circle article:nth-of-type(5){
        width: 360px; height: 360px;
        left: calc(50% - 180px);
        top: calc(50% - 180px);
    }
    .info li{
        width: 400px; height: 400px;
    }


    .about{
        padding: 0;
    }
    .about_flex{
        flex-wrap: wrap-reverse;
    }
    .about_left{
        width: 100%;
    }
    .about_right{
        width: 100%;
        margin: 0 24px;
    }



    #contact{
        background-attachment: unset;
    }
    .contact_flex{
        flex-wrap: wrap-reverse;
    }
    .contact_left{
        width: 100%;
    }
    .contact_right{
        width: 100%;
        margin: 0 24px;
    }
    .contactme{
        width: 300px;
        height: 400px;
    }
    .contactme h2{
        padding: 36px 0 6px 0;
    }
    .contactme h3{
        line-height: 1.1;
    }
    .contactme h4{
        line-height: 1.1;
    }





    .project_list ul{
        flex-wrap: wrap;
    }
    .project_list li span{
        width: 100%;
        justify-content: center;
    }
    .projectplus h2{
        font-size: 36px;
    }
    .projectplus h3{
        font-size: 16px;
    }
    .projectplus button{
        width: 100%;
    }
    .projectplus button{
        width: 300px;
    }
    .btn_view{
        display: flex;
        flex-wrap: wrap;
    }
    .projectplus dt{
        height: 867px;
        width: 115%;
    }
    .projectplus .btn_view{
        display: block;
    }
    .projectplus dt img{
        width: 300px; height: 300px;
        margin: 0 0 0 5%;
    }
    .projectplus dt div{
        margin:0;
    }

    .topa{
        width: 45px; height: 45px;
    }
    .topa a{
        padding: 12px 0;
    }
    .topa span:nth-of-type(1){
        left: 14px;
    }
    .topa span:nth-of-type(2){
        display: none;
    }

}
